* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: #FDFAF6;
}
/* Title page mygtukai */
a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  padding: 10px 0px 10px 0px;
  background-color: #E4EFE7;
  color: inherit;
  text-decoration: none;
  border-radius: 7px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
  cursor: pointer;
}

a:hover {
  background-color: #cce0d1;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

img {
  width: 30%;
  height: auto;
  padding: 0px 0px 20px 15px;
}

.button_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-flow: space-around;
      flex-flow: space-around;
  font-size: 28px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.container {
  position: absolute;
  left: 50%;
  right: 50%;
  width: 200px;
  height: 200px;
  border: 1px solid #ddd;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.container div {
  width: 40px;
  height: 40px;
  background-color: orange;
  position: absolute;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  margin: -20px;
}

.container div:nth-child(0) {
  -webkit-transform: rotate(0deg) translate(200px/2) rotate(0deg);
          transform: rotate(0deg) translate(200px/2) rotate(0deg);
}

.container div:nth-child(1) {
  -webkit-transform: rotate(0deg) translate(200px/2) rotate(0deg);
          transform: rotate(0deg) translate(200px/2) rotate(0deg);
}

.container div:nth-child(2) {
  -webkit-transform: rotate(0deg) translate(200px/2) rotate(0deg);
          transform: rotate(0deg) translate(200px/2) rotate(0deg);
}

.container div:nth-child(3) {
  -webkit-transform: rotate(0deg) translate(200px/2) rotate(0deg);
          transform: rotate(0deg) translate(200px/2) rotate(0deg);
}

.container div:nth-child(4) {
  -webkit-transform: rotate(0deg) translate(200px/2) rotate(0deg);
          transform: rotate(0deg) translate(200px/2) rotate(0deg);

}

input {
  -ms-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  width: 20%;
  height: 20px;
  padding: 10px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border: none;
  border-bottom: 1px solid #064420;
  background-color: #E4EFE7;
  font-size: 16px;
  margin-right: 30px;
}

input:focus {
  outline: none;
}

select {
  -ms-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  width: 20%;
  height: 20px;
  padding: 10px;
  background-color: #E4EFE7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#E4EFE7), to(#E4EFE7));
  background-image: linear-gradient(to bottom, #E4EFE7, #E4EFE7);
  background-position: center right;
  background-repeat: no-repeat;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  color: #131624;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: none;
  border-bottom: 1px solid #064420;
}

option {
  padding: 10px;
}

.header {
  width: 100%;
  height: 20%;
  background-color: #E4EFE7;
  position: relative;
  position: fixed;
  top: 0;
  overflow: hidden;
}

.inner {
  margin-top: 10%;
}

.header img {
  height: 80%;
  padding-left: 1%;
  padding-top: 1%;
  padding-right: 3%;
  float: left;
}

.header nav {
  bottom: 30%;
  width: 100%;
  text-decoration: none;
}

.header li {
  color: #FDFAF6;
  background-color: #064420;
  display: inline-block;
  padding: 1% 4%;
  margin: 2% 1%;
  line-height: 1;
  text-decoration: none;
  border-bottom: none;
}

.header .list a {
  text-decoration: none;
  color: #FDFAF6;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.header .list a:hover {
  color: gold;
}

.header .premium {
  color: darkgreen;
  text-decoration: none;
}

.header .logOut i {
  float: right;
  margin-top: 1%;
  margin-right: 1%;
  color: black;

/*# sourceMappingURL=styles.css.map */