@charset "UTF-8";
.inner {
  margin-top: 150px;
}

.topnav {
  width: 100%;
  height: 100px;
  background-color: #E4EFE7;
  position: relative;
  position: fixed;
  top: 0;
  overflow: hidden;
  border-bottom: 2px solid #064420;
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 2;
  font-size: 20px;
  font-weight: 700;
}

@media (max-width: 1000px) {
  .topnav {
    font-size: 18px;
  }
}

.topnav img {
  float: left;
  margin: 5px;
  height: 90px;
  margin-right: 50px;
}

.topnav .logOut i {
  float: right;
  margin-top: 1%;
  margin-right: 1%;
  color: #064420;
}

.topnav .premium {
  color: darkgreen;
  font-size: 20px;
  font-weight: 500;
  width: 190px;
  height: 40px;
  margin-left: 0;
  text-decoration: none;
  padding: 0;
}

@media (max-width: 1000px) {
  .topnav .premium {
    font-size: 18px;
    width: 160px;
  }
}

.topnav a {
  text-decoration: none;
  color: #FDFAF6;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.topnav a:hover {
  color: #f6ed6d;
}

.topnav .list {
  background-color: #064420;
  display: inline-block;
  border-radius: 7px;
  width: 130px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin-left: 10px;
}

@media (max-width: 1000px) {
  .topnav .list {
    width: 110px;
  }
}

.topnav .email {
  float: right;
  margin-right: 20px;
  color: #064420;
}

.topnav .email:hover {
  color: #064420;
}

.topnav .icon {
  display: none;
}

.topnav .inlinee {
  float: right;
  display: inline;
}

@media (max-width: 800px) {
  .topnav .inlinee {
    float: none;
  }
}

@media screen and (max-width: 890px) {
  .topnav img {
    margin-right: 0;
    height: 70px;
  }
  .topnav a,
  .topnav .list {
    display: none;
    margin: auto;
    width: 150px;
  }
  .topnav .logOut {
    display: contents;
  }
  .topnav .logOut i {
    margin-right: 60px;
  }
  .topnav .first {
    display: block;
  }
  .topnav a.icon {
    float: right;
    display: block;
    color: #064420;
    margin-right: 20px;
    width: unset;
    position: absolute;
    right: 0;
    top: 6px;
  }
  .topnav .email {
    display: block;
    margin-right: 103px;
    margin-top: 10px;
  }
}

@media (max-width: 890px) {
  .topnav.responsive {
    height: auto;
  }
  .topnav.responsive br {
    display: none;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
    max-width: 550px;
    margin-bottom: 10px;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 6px;
  }
  .topnav.responsive .logOut {
    display: contents;
  }
  .topnav.responsive .logOut i {
    margin-right: 60px;
  }
  .topnav.responsive .email {
    position: relative;
    top: -276px;
    margin: auto;
    width: 100%;
  }
  .topnav.responsive .premium {
    width: 150px;
    margin: auto;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .topnav.responsive .first {
    margin-top: 48px;
  }
}

@media (max-width: 450px) {
  .topnav.responsive .email {
    font-size: 12px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: #FDFAF6;
  color: #131624;
  margin: 0;
  margin-top: 150px;
}

.antialiased {
  margin-top: 20px;
}

.antialiased img {
  padding: 20px;
  background-color: #E4EFE7;
  border-radius: 7px;
  display: block;
  margin: 0 auto 50px auto;
  -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 600px) {
  .antialiased img {
    width: 90%;
    margin-bottom: 20px;
  }
}

/* Title page mygtukai */
.button_container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  padding: 10px 0px 10px 0px;
  background-color: #E4EFE7;
  color: inherit;
  text-decoration: none;
  border-radius: 7px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
  cursor: pointer;
}

.button_container a:hover {
  background-color: #cce0d1;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

@media (max-width: 950px) {
  .button_container a {
    font-size: 20px;
  }
}

@media (max-width: 720px) {
  .button_container a {
    width: 60%;
  }
}

.button_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-flow: space-around;
      flex-flow: space-around;
  font-size: 28px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.container {
  position: absolute;
  left: 50%;
  right: 50%;
  width: 200px;
  height: 200px;
  border: 1px solid #ddd;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.container div {
  width: 40px;
  height: 40px;
  background-color: orange;
  position: absolute;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  margin: -20px;
}

.container div:nth-child(0) {
  -webkit-transform: rotate(0deg) translate(200px/2) rotate(0deg);
          transform: rotate(0deg) translate(200px/2) rotate(0deg);
}

.container div:nth-child(1) {
  -webkit-transform: rotate(0deg) translate(200px/2) rotate(0deg);
          transform: rotate(0deg) translate(200px/2) rotate(0deg);
}

.container div:nth-child(2) {
  -webkit-transform: rotate(0deg) translate(200px/2) rotate(0deg);
          transform: rotate(0deg) translate(200px/2) rotate(0deg);
}

.container div:nth-child(3) {
  -webkit-transform: rotate(0deg) translate(200px/2) rotate(0deg);
          transform: rotate(0deg) translate(200px/2) rotate(0deg);
}

.container div:nth-child(4) {
  -webkit-transform: rotate(0deg) translate(200px/2) rotate(0deg);
          transform: rotate(0deg) translate(200px/2) rotate(0deg);
}

input {
  -ms-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  width: 20%;
  height: 20px;
  padding: 10px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border: none;
  border-bottom: 1px solid #064420;
  background-color: #E4EFE7;
  font-size: 16px;
  margin-right: 30px;
  margin-bottom: 15px;
}

input:focus {
  outline: none;
}

select {
  -ms-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  width: 20%;
  height: 20px;
  padding: 10px;
  background-color: #E4EFE7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#E4EFE7), to(#E4EFE7));
  background-image: linear-gradient(to bottom, #E4EFE7, #E4EFE7);
  background-position: center right;
  background-repeat: no-repeat;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  color: #131624;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: none;
  border-bottom: 1px solid #064420;
}

option {
  padding: 10px;
}

textarea {
  -ms-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  min-width: 20%;
  min-height: 45px;
  padding: 10px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border: none;
  border-bottom: 1px solid #064420;
  background-color: #E4EFE7;
  font-size: 16px;
  margin-right: 30px;
  font-family: 'Nunito', sans-serif;
}

textarea:focus {
  outline: none;
}

::-webkit-input-placeholder {
  font-family: 'Nunito', sans-serif;
}

:-moz-placeholder {
  font-family: 'Nunito', sans-serif;
}

::-moz-placeholder {
  font-family: 'Nunito', sans-serif;
}

:-ms-input-placeholder {
  font-family: 'Nunito', sans-serif;
}

.checkbox-container {
  display: block;
  height: 100%;
  position: relative;
  padding-top: 2px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 0;
}

.checkbox-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #E4EFE7;
  border-bottom: 1px solid #064420;
}

.checkbox-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container .checkmark-last {
  top: -13px;
}

.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #064420;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #E4EFE7;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #cce0d1;
}

::-webkit-input-placeholder {
  color: #afaeae;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  color: #afaeae;
  opacity: 1;
  /* Firefox */
}

::-ms-input-placeholder {
  color: #afaeae;
  opacity: 1;
  /* Firefox */
}

::placeholder {
  color: #afaeae;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #afaeae;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #afaeae;
}

button {
  background-color: #E4EFE7;
  padding: 10px 10px 10px 10px;
  border-radius: 7px;
  min-width: 150px;
  border: none;
  font-size: 16px;
  margin: 0px 10px 10px 10px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #cce0d1;
}

.a-button {
  display: inline-block;
  background-color: #E4EFE7;
  padding: 10px 0px 10px 0px;
  border-radius: 7px;
  min-width: 150px;
  text-decoration: none;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  color: #131624;
  border: none;
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.a-button:hover {
  background-color: #cce0d1;
}

.testListButton {
  background-color: #064420;
  padding: 10px 0px 10px 0px;
  border-radius: 7px;
  min-width: 150px;
  border: none;
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;
  color: white;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.testListButton:hover {
  background-color: #cce0d1;
  color: #131624;
}

.darkGreen {
  background-color: #064420;
  color: #FDFAF6;
  margin-bottom: 15px;
}

.darkGreen:hover {
  color: #131624;
}

.container-center {
  width: 40%;
  margin: auto;
  border: 1px solid #064420;
  border-radius: 7px;
  padding: 0px 20px 10px 20px;
  -webkit-box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.3);
  overflow: auto;
}

@media (max-width: 1070px) {
  .container-center {
    width: 70%;
  }
}

@media (max-width: 700px) {
  .container-center {
    width: 80%;
  }
}

.container-center input {
  width: 40%;
  margin-bottom: 20px;
  display: block;
}

.container-center a {
  float: right;
}

.container-center .form-group {
  display: block;
  float: left;
  width: 100%;
}

.container-center .form-group:first-of-type {
  width: 70%;
  float: left;
}

.container-center .form-group:first-of-type input {
  width: 80%;
}

@media (max-width: 600px) {
  .container-center .form-group:first-of-type {
    width: 100%;
    float: left;
  }
  .container-center .form-group:first-of-type input {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 100%;
  }
}

.container-center .form-group:nth-of-type(2) {
  width: 30%;
  float: right;
}

.container-center .form-group:nth-of-type(2) select {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 600px) {
  .container-center .form-group:nth-of-type(2) {
    width: 100%;
    float: left;
  }
  .container-center .form-group:nth-of-type(2) select {
    width: 100%;
  }
}

.container-center .form-group:nth-of-type(3) textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 20px;
  margin-right: 0;
}

.container-center .form-group:last-of-type input {
  margin: auto;
}

.container-center-test {
  width: 50%;
  margin-bottom: 30px;
}

@media (max-width: 900px) {
  .container-center-test {
    width: 70%;
  }
}

@media (max-width: 600px) {
  .container-center-test {
    width: 80%;
  }
}

.container-center-test .form-group-back {
  width: 100%;
}

.container-center-test .form-group-back a {
  width: 100%;
  text-align: right;
}

.container-center-test table {
  width: 100%;
}

.container-center-test .test-name {
  padding-right: 4px;
}

.container-center-test textarea {
  min-width: 100%;
  max-width: 100%;
}

.container-center-test input {
  display: block;
}

.container-center-test input[type=number] {
  width: 60px;
}

.container-center-test .question {
  width: 90%;
}

.container-center-test .submit {
  margin: auto;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  cursor: pointer;
}

.container-center-test .submit:hover {
  background-color: #cce0d1;
}

.container-center-test .addQuestion.addQuestion {
  min-width: unset;
  width: 55px;
}

.container-center-test .addQuestion.addQuestion .fa-plus {
  color: #064420;
}

.container-center-test .answer {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 41px;
  margin-bottom: 5px;
}

.container-center-test .answer-last {
  margin-bottom: 30px;
}

.container-center-test tr .questionInput {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 41px;
  margin-bottom: 5px;
}

.container-center-test tr td:first-of-type {
  width: 50%;
}

.container-center-test tr td:nth-of-type(2) {
  width: 0%;
}

.container-center-test tr td:last-of-type {
  width: 8%;
}

:root {
  --star-size: 60px;
  --star-color: #fff;
  --star-background: #fc0;
}

.Stars {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: 40px;
  font-family: Times;
  line-height: 1;
}

.Stars::after {
  content: '★★★★★';
  background: -webkit-gradient(linear, left top, right top, from(var(--star-background)), to(var(--star-color)));
  background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  top: 6px;
}

.starss select {
  color: #FDDA0D;
}

.starss select option {
  color: #FDDA0D;
}

.testListSplashContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 10%;
}

.testListSplashContainer .testListSplashText {
  color: #064420;
  font-size: 28px;
}

.pageCointaner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  padding-top: 20px;
  width: 70%;
}

.testListContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  width: 100%;
  margin: auto;
  background-color: #E4EFE7;
  border-radius: 7px;
}

.testListTable {
  border-collapse: collapse;
  background-color: #E4EFE7;
  width: 100%;
  border-radius: 7px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.testListTable thead {
  height: 80px;
}

.testListTable thead tr {
  font-size: 22px;
  color: #064420;
}

.testListTable th, .testListTable td {
  padding: 12px 15px;
  text-align: center;
}

.testListTable tbody tr {
  border-bottom: thin solid #cce0d1;
}

.testListTable tbody tr:nth-of-type(odd) {
  background-color: #ecf8ef;
}

.testListTable tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

.testListTable tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.testListTable tr:last-child {
  border-bottom: none;
}

.pageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  padding-top: 20px;
  width: 70%;
}

.selectedTestSplashContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 10%;
}

.selectedTestSplashContainer .selectedTestSplashText {
  color: #064420;
  font-size: 28px;
}

@media (max-width: 740px) {
  .selectedTestSplashContainer .selectedTestSplashText {
    font-size: 20px;
  }
}

.testInfoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 55%;
  height: auto;
  padding: 10px 20px;
  background-color: #cce0d1;
  border-radius: 7px;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
}

@media (max-width: 900px) {
  .testInfoContainer {
    width: 90%;
  }
}

.testInfoContainer p {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0px 0px;
  font-size: 18px;
}

.testInfoContainer .infoHeader {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 22px;
  font-weight: bold;
  padding-top: 10px;
}

.testInfoContainer .info {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 20px;
  font-size: 18px;
  border-radius: 7px;
  border: #064420 solid thin;
  background-color: #E4EFE7;
  width: 80%;
  height: 50%;
}

.testInfoContainer .name {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 28px;
  font-weight: bold;
  padding-bottom: 10px;
}

.testInfoContainer h1 {
  margin: 0;
  margin: 0;
  width: 100%;
  text-align: left;
}

@media (max-width: 500px) {
  .testInfoContainer h1 {
    font-size: 20px;
  }
}

.testInfoContainer .textarea {
  max-width: 100%;
  min-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 20px;
  margin-right: 0;
  padding-right: 70px;
  margin-bottom: 0;
}

.testInfoContainer form {
  text-align: center;
}

.testInfoContainer form label {
  float: left;
}

.testInfoContainer .delete-comm {
  top: 30px;
  position: relative;
  float: right;
  left: -20px;
}

.testInfoContainer .delete-comm a {
  text-decoration: none;
  color: #064420;
  font-size: 20px;
}

.testInfoContainer .edit-comm {
  top: 30px;
  position: relative;
  float: right;
  left: -25px;
  font-size: 20px;
  color: #064420;
}

.testInfoContainer table {
  table-layout: fixed;
  width: 100%;
}

.hairline {
  border-bottom: #064420 solid thin;
}

.deleteButton {
  background-color: #E4EFE7;
  padding: 10px 0px 10px 0px;
  border-radius: 7px;
  min-width: 150px;
  border: none;
  font-size: 16px;
  margin: 0px 10px 10px 10px;
  cursor: pointer;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.deleteButton:hover {
  background-color: #064420;
  color: #FDFAF6;
}

.testProceedButton {
  background-color: #064420;
  color: white;
  border-radius: 7px;
  min-width: 150px;
  border: none;
  font-size: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.testProceedButton:hover {
  background-color: #F86624;
}

.card,
.card-login {
  margin-top: 150px;
  width: 50%;
  margin: auto;
  text-align: center;
  border: 1px solid #064420;
  border-radius: 7px;
  padding: 0px 20px 10px 20px;
  -webkit-box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.3);
  overflow: auto;
}

.card-header,
.card-login-header {
  border-bottom: 2px solid #064420;
  margin-bottom: 20px;
}

.card input,
.card-login input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 41px;
}

.card .col-md-6,
.card-login .col-md-6 {
  text-align: left;
  width: 55%;
  margin: auto;
}

.card .name,
.card-login .name {
  width: 49%;
  float: left;
}

.card #name-first,
.card-login #name-first {
  margin-right: 2%;
}

.card .right,
.card-login .right {
  text-align: right;
}

@media (max-width: 750px) {
  .card .right,
  .card-login .right {
    text-align: center;
  }
}

@media (max-width: 750px) {
  .card span,
  .card-login span {
    display: block;
    margin-top: 10px;
  }
}

.card .remember-me,
.card-login .remember-me {
  width: 55%;
  margin: auto;
}

.card .remember-me input,
.card-login .remember-me input {
  width: 0;
}

.card .google,
.card-login .google {
  padding-right: 20px;
  margin-top: 10px;
  float: left;
}

.card .google:before,
.card-login .google:before {
  content: '';
  background: url("/img/Google.png");
  background-size: cover;
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: 100px;
}

@media (max-width: 1260px) {
  .card {
    width: 60%;
  }
}

@media (max-width: 965px) {
  .card {
    width: 70%;
  }
}

@media (max-width: 595px) {
  .card {
    width: 80%;
  }
}

@media (max-width: 700px) {
  .card input {
    font-size: 14px;
    height: 35px;
  }
}

@media (max-width: 1260px) {
  .card .col-md-6 {
    width: 60%;
  }
}

@media (max-width: 965px) {
  .card .col-md-6 {
    width: 70%;
  }
}

@media (max-width: 700px) {
  .card .col-md-6 {
    font-size: 14px;
  }
}

@media (max-width: 595px) {
  .card .col-md-6 {
    width: 80%;
  }
}

@media (max-width: 420px) {
  .card .col-md-6 {
    width: 90%;
  }
}

@media (max-width: 715px) {
  .card .name {
    width: 100%;
  }
}

@media (max-width: 1260px) {
  .card-login {
    width: 60%;
  }
}

@media (max-width: 965px) {
  .card-login {
    width: 70%;
  }
}

@media (max-width: 750px) {
  .card-login .buttons {
    overflow: auto;
  }
  .card-login .google {
    float: unset;
  }
}

@media (max-width: 595px) {
  .card-login {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .card-login .col-md-6,
  .card-login .remember-me {
    width: 65%;
  }
}

@media (max-width: 700px) {
  .card-login .col-md-6 {
    font-size: 14px;
  }
}

@media (max-width: 700px) {
  .card-login input {
    font-size: 14px;
    height: 35px;
  }
}

/* Modalo slėpimas/parodymas */
.modal {
  display: none;
}

.modal2 {
  display: none;
}

.modal-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0px;
  height: 100vh;
  width: 100vw;
  background-color: rgba(54, 54, 61, 0.8);
}

.modal-container .modal-box {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 620px;
  height: 450px;
  border-radius: 7px;
  background-color: #E4EFE7;
  z-index: 1;
  margin-top: 150px;
}

.modal-container .exit {
  float: right;
}

.modal-container .splash {
  font-size: 24px;
  margin-left: 20px;
}

.modal-container .modal-header-box {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.modal-container .hairline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: solid 1px black;
  width: 95%;
  margin-left: 20px;
  margin-right: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-container input {
  background-color: #E4EFE7;
  padding: 10px 10px 10px 10px;
  border-radius: 7px;
  min-width: 150px;
  border: none;
  font-size: 16px;
  margin: 0px 10px 10px 10px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 10px;
  cursor: pointer;
}

.modal-container input:hover {
  background-color: #cce0d1;
}

.modal-container .payment-select-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 60;
}

.modal-container .payment-select-container .payment-method {
  padding: 0px 10px 0px 10px;
  width: 220px;
  height: auto;
  border: solid 1px #cce0d1;
  border-radius: 7px;
}

.modal-container .payment-select-container .payment-method:hover {
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  border-color: #064420;
}

.modal-container .tab {
  display: inline-block;
  margin-left: 300px;
}

.modal-container .crypto {
  text-align: center;
  padding-top: 20px;
}

.modal-container .crypto input {
  margin: 15px;
  padding-top: 35px;
  font-size: 40px;
}

.modal-container .dropdown {
  padding-left: 100px;
}

.modal-container .dropdown dd, .modal-container .dropdown dt, .modal-container .dropdown ul {
  margin: 0px;
  padding: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-container .dropdown dd {
  position: relative;
}

.modal-container .dropdown a, .modal-container .dropdown a:visited {
  color: black;
  text-decoration: none;
  outline: none;
}

.modal-container .dropdown a:hover {
  color: #cce0d1;
}

.modal-container .dropdown dt a {
  background: #E4EFE7 url("http://www.jankoatwarpspeed.com/wp-content/uploads/examples/reinventing-drop-down/arrow.png") no-repeat scroll right center;
  display: block;
  padding-right: 20px;
  width: 150px;
  height: 35px;
}

.modal-container .dropdown dt a:hover {
  color: black;
  background: #cce0d1 url("http://www.jankoatwarpspeed.com/wp-content/uploads/examples/reinventing-drop-down/arrow.png") no-repeat scroll right center;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.modal-container .dropdown dt a span {
  cursor: pointer;
  display: block;
  padding: 5px;
}

.modal-container .dropdown dd ul {
  background: #E4EFE7 none repeat scroll 0 0;
  display: none;
  left: 0px;
  padding: 5px 0px;
  position: absolute;
  top: 2px;
  width: auto;
  min-width: 170px;
  list-style: none;
}

.modal-container .dropdown span.value {
  display: none;
}

.modal-container .dropdown dd ul li a {
  padding: 5px;
  display: block;
}

.modal-container .dropdown dd ul li a:hover {
  background-color: #cce0d1;
  color: black;
}

.modal-container .dropdown img.cryptoimg {
  border: none;
  vertical-align: middle;
  margin-left: 10px;
  height: 30px;
  margin-right: 10px;
}

.modal-container .flagvisibility {
  display: none;
}

.modal-container img.thc {
  border: none;
  margin-left: 300px;
  height: 35px;
  margin-right: 10px;
  margin-top: -40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-container .sort-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 75%;
}

.modal-container .list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
}

.modal-container .choice {
  font-size: 16px;
  line-height: 16px;
}

.modal-container .radio {
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
          box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  min-width: 1px;
  width: 20px;
  padding: 0px;
  vertical-align: text-bottom;
  margin-top: 13px;
}

.hidden {
  display: none;
}

.profile {
  margin-bottom: 20px;
}

.profile button {
  margin-top: 20px;
  margin-bottom: 15px;
}

@media (max-width: 700px) {
  .profile input {
    width: 60%;
  }
}

@media (max-width: 400px) {
  .profile input {
    width: 90%;
  }
}

@media (max-width: 400px) {
  .profile h3 {
    font-size: 18px;
  }
}

@media (max-width: 630px) {
  .profile a {
    float: initial;
  }
}

.password {
  width: 50%;
}

.password .passwordUpdate input {
  margin: auto;
  width: 50%;
}

@media (max-width: 950px) {
  .password .passwordUpdate input {
    width: 70%;
  }
}

@media (max-width: 400px) {
  .password .passwordUpdate input {
    width: 85%;
  }
}

@media (max-width: 700px) {
  .password {
    width: 90%;
  }
}

.container-center-admin {
  width: 50%;
  margin: auto;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  overflow: auto;
}

.questionPageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin: auto;
  margin-top: -50px;
  width: 50%;
  height: auto;
  border-radius: 7px;
  background: #cce0d1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
}

.questionPageContainer .questionPageContainerHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.questionPageContainer .questionNumber {
  color: orange;
  font-size: 28px;
  padding-right: 10px;
}

.questionPageContainer .questionText {
  font-size: 32px;
  font-weight: bolder;
  margin-bottom: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.questionContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.questionContainer .questionRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.questionContainer tr {
  padding-bottom: 10px;
}

.checkbox {
  height: 20px;
  width: 20px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  width: 50%;
}

.checkAnswerButton {
  background-color: #E4EFE7;
  padding: 10px 10px 10px 10px;
  border-radius: 7px;
  min-width: 150px;
  border: none;
  font-size: 16px;
  margin: 0px 10px 10px 10px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 10px;
  cursor: pointer;
  margin: auto;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 20px;
}

.checkAnswerButton:hover {
  background-color: #064420;
  color: white;
}

.answerListTable {
  border-collapse: collapse;
  width: 80%;
  border-radius: 7px;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.answerListTable thead {
  height: 80px;
}

.answerListTable thead tr {
  font-size: 22px;
  color: #064420;
}

.answerListTable th, .answerListTable td {
  padding: 12px 15px;
  text-align: center;
}

.answerListTable tbody tr {
  border-bottom: thin solid #cce0d1;
}

.answerListTable tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

.answerListTable tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.answerListTable tr:last-child {
  border-bottom: none;
}

.answerFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  text-align: center;
}

.answerFooter p {
  font-weight: bold;
  font-size: 20px;
  color: #064420;
}

.endingHeaderText {
  color: orange;
  font-size: 28px;
  margin-bottom: 30px;
}

.gradeInfo {
  text-align: center;
  padding: 10% 0%;
  font-size: 32px;
}

.testCompletionButtonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
}

.modalOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 0px;
  width: 620px;
}

.modal-box-rating {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 620px;
  height: 300px;
  border-radius: 7px;
  background-color: #E4EFE7;
  z-index: 1;
  margin-top: 150px;
}

.statisticsTable h3 {
  margin-bottom: 10px;
  text-align: center;
}

.statisticsTable h3:not(:first-of-type) {
  margin-top: 40px;
}

.statisticsTable th {
  font-size: 18px;
}

@media (max-width: 900px) {
  .statisticsTable th {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .statisticsTable {
    width: 100%;
    margin-top: 0;
  }
  .statisticsTable .testListSplashContainer {
    padding-left: 10px;
    padding-right: 10px;
  }
  .statisticsTable .testListSplashContainer .testListSplashText {
    font-size: 20px;
  }
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  padding: 10px;
  padding-top: 0;
}

@media (max-width: 700px) {
  .grid-container {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

.grid-item {
  padding: 20px;
  padding-top: 0;
  text-align: center;
}

.bottom nav {
  text-align: center;
}

.pagination {
  display: inline-block;
  list-style-type: none;
}

.pagination li {
  display: inline-block;
  vertical-align: middle;
  padding: 8px 16px;
  background-color: #E4EFE7;
  border-radius: 7px;
}

.pagination li:hover {
  background-color: #cce0d1;
}

.pagination .active {
  background-color: #064420;
  color: white;
}

.pagination .active:hover {
  background-color: #064420;
}

.pagination a {
  color: black;
  float: left;
  text-decoration: none;
}
/*# sourceMappingURL=styles.css.map */