button{
    background-color: $lightGreen;
    padding: 10px 10px 10px 10px;
    border-radius: 7px;
    min-width: 150px;
    border: none;
    font-size: 16px;
    margin: 0px 10px 10px 10px;
    transition: .2s ease-in-out;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    margin-bottom: 10px;
    cursor: pointer;
    
    &:hover {
        background-color: #cce0d1;
    }
}

.a-button{
    display: inline-block;
    background-color: #E4EFE7;
    padding: 10px 0px 10px 0px;
    border-radius: 7px;
    min-width: 150px;
    text-decoration: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    color: #131624;
    border: none;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
    transition: .2s ease-in-out;
    &:hover {
        background-color: #cce0d1;
    }
}

.testListButton {
    background-color: $darkGreen;
    padding: 10px 0px 10px 0px;
    border-radius: 7px;
    min-width: 150px;
    border: none;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    color: white;
    transition: .2s ease-in-out;
    &:hover {
        background-color: $darkerGreen;     
        color: $darkBlue; 
    }
    
}
.darkGreen{
    background-color: $darkGreen;
    color: $White;
    margin-bottom: 15px;
    &:hover{
        color: $darkBlue;
    }
}