button{
    background-color: $lightGreen;
    padding: 10px 0px 10px 0px;
    border-radius: 7px;
    min-width: 150px;
    border: none;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    &:hover {
        background-color: #cce0d1;
        transition: .2s ease-in-out;
    }
}

.a-button{
    display: inline-block;
    background-color: #E4EFE7;
    padding: 10px 0px 10px 0px;
    border-radius: 7px;
    min-width: 150px;
    text-decoration: none;
    color: #131624;
    border: none;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
    &:hover {
        background-color: #cce0d1;
        transition: .2s ease-in-out;
    }
}