.header {
	width: 100%;
	height: 100px;
	background-color: $lightGreen;
	position: relative;
	position: fixed;
	top: 0;
	overflow: hidden;
    border-bottom: 2px solid $darkGreen;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 2;
    font-size: 20px;
    font-weight: 700;
}

.inner{
    margin-top: 150px;
}

.header img{
    float: left;
    margin: 5px;
    height: 90%;
    margin-right: 50px;
}	
.header nav{
	
	bottom: 30%;	
	width: 100%;
    text-decoration: none;
        
}       		
.header li{
    color: $White;
    background-color: $darkGreen;
    display: inline-block;
    line-height: 1;
    text-decoration: none;
    border-bottom: none;
    border-radius: 7px;

    width: 130px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
    margin-right: 10px;

    &:last-of-type{
        background-color: unset;
        padding-top: unset;
    }
    
}
.header .list a {
   
    text-decoration: none;
    color: $White;
    transition: all 0.2s ease;
    &:hover{
          color: #f6ed6d;
        }
    }
    
.header .premium  {
    color: darkgreen;
    font-size: 20px;
    font-weight: 500;
    width: 190px;
    height: 40px;
    margin-left: 0;
    text-decoration: none;
    padding: 0;
}    

.header .logOut i {
    float: right;
    margin-top: 1%;
    margin-right: 1%;
    color: $darkGreen;
}

    
       
	