input{
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    -webkit-box-sizing:content-box; 
    width: 20%;
    height: 20px;
    padding: 10px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border: none;
    border-bottom: 1px solid $darkGreen;
    background-color: $lightGreen;
    font-size: 16px;
    margin-right: 30px;
    &:focus{
        outline: none;
    }
}

select{
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    -webkit-box-sizing:content-box; 
    width: 20%;
    height: 20px;
    padding: 10px;
    background-color: $lightGreen; 
    background-image: linear-gradient(to bottom, $lightGreen, $lightGreen); 
    background-position: center right;
    background-repeat: no-repeat;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    color: $darkBlue;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: none;
    border-bottom: 1px solid $darkGreen;
}
option{
    padding: 10px;
}
textarea{
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    -webkit-box-sizing:content-box; 
    min-width: 20%;
    min-height: 45px;
    padding: 10px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border: none;
    border-bottom: 1px solid $darkGreen;
    background-color: $lightGreen;
    font-size: 16px;
    margin-right: 30px;
    &:focus{
        outline: none;
    }
}
::-webkit-input-placeholder {
     font-family: 'Nunito', sans-serif;
}
:-moz-placeholder {
    font-family: 'Nunito', sans-serif;
}
::-moz-placeholder {
    font-family: 'Nunito', sans-serif;
}
:-ms-input-placeholder {
    font-family: 'Nunito', sans-serif;
}
.checkbox-container {
    display: block;
    width: 175px;
    height: 25px;
    position: relative;
    padding-top: 2px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: -1;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
       
        &:checked ~ .checkmark:after {
            display: block;
        }
    }
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: $lightGreen;
        border-bottom: 1px solid $darkGreen;
        &:after {
            content: "";
            position: absolute;
            display: none;
        }
        &:after {
            left: 8px;
            top: 3px;
            width: 7px;
            height: 13px;
            border: solid $darkGreen;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
    &:hover input ~ .checkmark {
        background-color: $darkerGreen;
    }
}