input{
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    -webkit-box-sizing:content-box; 
    width: 20%;
    height: 20px;
    padding: 10px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border: none;
    border-bottom: 1px solid $darkGreen;
    background-color: $lightGreen;
    font-size: 16px;
    margin-right: 30px;
    margin-bottom: 15px;
    &:focus{
        outline: none;
    }
}

select{
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    -webkit-box-sizing:content-box; 
    width: 20%;
    height: 20px;
    padding: 10px;
    background-color: $lightGreen; 
    background-image: linear-gradient(to bottom, $lightGreen, $lightGreen); 
    background-position: center right;
    background-repeat: no-repeat;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    color: $darkBlue;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: none;
    border-bottom: 1px solid $darkGreen;
}
option{
    padding: 10px;
}
textarea{
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    -webkit-box-sizing:content-box; 
    min-width: 20%;
    min-height: 45px;
    padding: 10px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border: none;
    border-bottom: 1px solid $darkGreen;
    background-color: $lightGreen;
    font-size: 16px;
    margin-right: 30px;
    font-family: 'Nunito', sans-serif;
    &:focus{
        outline: none;
    }
}
::-webkit-input-placeholder {
     font-family: 'Nunito', sans-serif;
}
:-moz-placeholder {
    font-family: 'Nunito', sans-serif;
}
::-moz-placeholder {
    font-family: 'Nunito', sans-serif;
}
:-ms-input-placeholder {
    font-family: 'Nunito', sans-serif;
}

.checkbox-container {
    display: block;
    height: 100%;
    position: relative;
    padding-top: 2px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 0;

   
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: $lightGreen;
        border-bottom: 1px solid $darkGreen;
        &:after {
            content: "";
            position: absolute;
            display: none;
        }
        &-last{
            top: -13px;
        }
    
        &:after {
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid $darkGreen;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked ~ .checkmark {
            background-color: $lightGreen;
        }
        &:checked ~ .checkmark:after {
            display: block;
        }
    }

    &:hover input ~ .checkmark {
        background-color: $darkerGreen;
    }

    &-radio{
        display: block;
        height: 100%;
        position: relative;
        //padding-top: 2px;
        //margin-bottom: 12px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        z-index: 0;
          
          
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }

        .checkmark-radio {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: $White;
            border-radius: 50%;
            border: 1px solid $darkGreen;
        }
          
        &:hover input ~ .checkmark-radio {
        background-color: $darkerGreen;
        }
        
        input:checked ~ .checkmark-radio {
        background-color: $darkerGreen;
        }
        
        .checkmark-radio:after {
        content: "";
        position: absolute;
        display: none;
        }
        input:checked ~ .checkmark-radio:after {
        display: block;
        }
          
        .checkmark-radio:after {
            top: 7px;
            left: 7px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: $darkGreen;
        }
    }
}


::placeholder {
    color: rgb(175, 174, 174);
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(175, 174, 174);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(175, 174, 174);
  }