.pageContainer{
    display: flex;
    justify-self: center; //centruojam patį turinio containerį
    align-self: center; //ditto
    justify-content: left; //sumetam turinį containerio kairėje, kad splash'as gražiai susilygintu su žalio containerio kairiu kraštu
    align-items: left; //ditto
    flex-direction: column;
    margin: auto;
    padding-top: 20px;
    width: 70%;
}

.selectedTestSplashContainer{
    display: flex;
    justify-content: space-between;
    height: 10%;

    .selectedTestSplashText {
        color: $darkGreen;
        font-size: 28px;
        @include breakpoint(740px)
        {
            font-size: 20px;
        }
    }
    
}

.testInfoContainer {
    display: flex;
    flex-direction: column;
    width: 55%;
    height: auto;
    padding: 10px 20px;
    background-color: $darkerGreen;
    border-radius: 7px;
    justify-self: center;
    align-self: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;

    @include breakpoint(900px){
        width: 90%;
    }

    p{
        justify-self: center;
        align-self: center;
        padding: 0px 0px;
        font-size: 18px;
    }

    .infoHeader {
        justify-self: center;
        align-self: center;
        font-size: 22px;
        font-weight: bold;
        padding-top: 10px;
    }

    .info {
        justify-self: center;
        align-self: center;
        justify-content: center;
        padding: 0px 20px;
        font-size: 18px;
        border-radius: 7px;
        border: $darkGreen solid thin;
        background-color: $lightGreen;
        width: 80%;
        height: 50%;
    }

    .name {
        justify-self: center;
        align-self: center;
        font-size: 28px;
        font-weight: bold;
        padding-bottom: 10px;
    }

    h1{
        margin: 0;
        margin: 0;
        width: 100%;
        text-align: left;
        @include breakpoint(500px){
            font-size: 20px;
        }
    }

    .textarea{
        max-width: 100%;
        min-width: 100%;
        box-sizing: border-box;
        margin-bottom: 20px;
        margin-right: 0;
        padding-right: 70px;
        margin-bottom: 0;
    }

    form{
        text-align: center;
        label{
            float: left;
        }
    }
    .delete-comm{
        top: 30px;
        position: relative;
        float: right;
        left: -20px;

        a{
            text-decoration: none;
            color: $darkGreen;
            font-size: 20px;
        }
    }
    .edit-comm{
        top: 30px;
        position: relative;
        float: right;
        left: -25px;
        font-size: 20px;
        color: $darkGreen;
    }

    table{
        table-layout: fixed;
        width: 100%;
    }
}

.hairline {
    border-bottom: $darkGreen solid thin;
}

.deleteButton {
    background-color: $lightGreen;
    padding: 10px 0px 10px 0px;
    border-radius: 7px;
    min-width: 150px;
    border: none;
    font-size: 16px;
    margin: 0px 10px 10px 10px;
    cursor: pointer;
    transition: .2s ease-in-out;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    &:hover {
        background-color: $darkGreen;
        color: $White;   
    }
}

.testProceedButton {
    background-color: $darkGreen;
    color: white;
   // padding: 10px 50px 10px 50px;
    border-radius: 7px;
    min-width: 150px;
    border: none;
    font-size: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .2s ease-in-out;
    &:hover {
        background-color: $actionButtonHover;      
    }
}