.testListSplashContainer{
    display: flex;
    justify-content: space-between;
    height: 10%;

    .testListSplashText {
        color: $darkGreen;
        font-size: 28px;
    }
}

.pageCointaner{
    display: flex;
    justify-self: center; //centruojam patį turinio containerį
    align-self: center; //ditto
    justify-content: left; //sumetam turinį containerio kairėje, kad splash'as gražiai susilygintu su žalio containerio kairiu kraštu
    align-items: left; //ditto
    flex-direction: column;
    margin: auto;
    padding-top: 20px;
    width: 70%;
}

.testListContainer{
	display: flex;
	justify-content: center;
	align-items: center;
    height: auto;
    width: 100%;
    margin: auto;
    background-color: $lightGreen;
    border-radius: 7px;
}



.testListTable {
    border-collapse: collapse;
    background-color: $lightGreen;
    width: 100%;
    border-radius: 7px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    thead {
        height: 80px;
    }

    thead tr {
        font-size: 22px;
        color: $darkGreen;
        //text-align: left;
    }

    th, td {
        padding: 12px 15px;
        text-align: center;
    }   

    tbody tr {
        border-bottom: thin solid $darkerGreen;
    }
    
    tbody tr:nth-of-type(odd) {
        background-color: $darkerGreenNthRow;
    }
    

    tr:last-child td:first-child { 
        border-bottom-left-radius: 10px; 
    }

    tr:last-child td:last-child { 
        border-bottom-right-radius: 10px; 
    }   

    tr:last-child {
        border-bottom: none;
    }

}