.questionPageContainer {
    display: flex;
    align-self: center;
    justify-self: center;
    align-items: left;
    justify-content: left;
    margin: auto;
    margin-top: -50px;
    width: 50%;
    height: auto;
    border-radius: 7px;
    background: $darkerGreen;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    .questionPageContainerHeader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .questionNumber {
        color: orange;
        font-size: 28px;
        padding-right: 10px;
    }

    .questionText {
        font-size: 32px;
        font-weight: bolder;
        margin-bottom: 30px;
        align-self: center;
    }
}

.questionContainer {
    display: flex;
    flex-direction: column;

    .questionRow {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
}

.checkbox {
    height: 20px;
    width: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    width: 50%;
}

.checkAnswerButton{
    background-color: $lightGreen;
    padding: 10px 10px 10px 10px;
    border-radius: 7px;
    min-width: 150px;
    border: none;
    font-size: 16px;
    margin: 0px 10px 10px 10px;
    transition: .2s ease-in-out;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    margin-bottom: 10px;
    cursor: pointer;
    margin: auto;
    justify-self: center;
    align-self: center;
    margin-top: 20px;

    &:hover {
        background-color: $darkGreen;
        color: white;
    }
}

.answerListTable {
    border-collapse: collapse;
    width: 80%;
    border-radius: 7px;
    justify-self: center;
    align-self: center;

    thead {
        height: 80px;
    }

    thead tr {
        font-size: 22px;
        color: $darkGreen;
        //text-align: left;
    }

    th, td {
        padding: 12px 15px;
        text-align: center;
    } 

    tbody tr {
        border-bottom: thin solid $darkerGreen;
    }

    tr:last-child td:first-child { 
        border-bottom-left-radius: 10px; 
    }

    tr:last-child td:last-child { 
        border-bottom-right-radius: 10px; 
    }   

    tr:last-child {
        border-bottom: none;
    }
}

.answerFooter {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    text-align: center;

    p{
        font-weight: bold;
        font-size: 20px;
        color: $darkGreen;
    }
}

.endingHeaderText {
    color: orange;
    font-size: 28px;
    margin-bottom: 30px;
}

.gradeInfo {
    text-align: center;
    padding: 10% 0%;
    font-size: 32px;
}

.testCompletionButtonContainer {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-self: center;
    justify-content: space-between;
    width: 60%;
}

.modalOptions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 40px 0px;
    width: 620px;
}

.modal-box-rating{
    flex-direction: column;
    width: 620px;
    height: 300px;
    border-radius: 7px;
    background-color: $lightGreen;
    z-index: 1;
    margin-top: 150px;
}